<!DOCTYPE html>
<html>
<head>
    <title>Character Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    🔤 Character Counter
</div>

<div class="hero">

<h2>Character Counter</h2>

<form method="POST">

<textarea
name="text"
rows="10"
cols="50"
placeholder="Type or paste your text here..."
required>{{ text }}</textarea>

<br><br>

<button type="submit">Count Characters</button>

</form>

{% if text %}

<h3>Total Characters: {{ characters }}</h3>

{% endif %}

<br><br>

<a href="/">⬅ Back Home</a>

</div>

</body>
</html>
